*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    padding: 1.5rem;
    background-color: rgb(24, 85, 104);
    text-align: right;

}

.link--container{
   
}

.header--link{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bolder;

    margin: 0 1rem;
}

/*welcome-section */
#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(117, 81, 70);
}


#welcome-section h1{
    font-size: 2.5rem;
}

#welcome-section h5{
    font-size: 1.5rem;
    font-style: italic;
}

#welcome-section h2, h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* projects - section */
#projects{
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: rgb(255, 255, 255);
}

.project-title {
    padding: 5%;
}

#projects #our-work{
    width: 100%;
    display: grid;
    column-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
}

#our-work div{
    margin-top: 30px;
}

#projects a{
    width: 100%;
    max-height: 10rem;
}
#projects h1{
    text-transform: capitalize;
    text-align: center;
}

.link--project{
    text-decoration: none;
    width: 40%;
    height: 10rem;
    background-color: brown;
}

.project-image{
    width: 100%;
    height: auto;
}

.project-title{
    padding: 3%;
    background-color: brown;
    color: white;
    text-align: center;
}

/* our work media query */
@media (max-width: 900px) {
    #projects #our-work{
        width: 100%;
        display: grid;
        column-gap: 2%;
        grid-template-columns: 1fr 1fr;
    }
}

.footer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(117, 81, 70);
}

.footer--text h2{
    font-size: 2.5rem;
    margin-top: -9rem;
    font-weight: bolder;
    color: rgb(215, 221, 221);
}

.footer--text h5{
    font-size: 1.3rem;
    color: rgb(215, 221, 221);
    font-style: italic;
}

.social--link{
    width: 60%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(215, 221, 221);;
}

@media (max-width: 700px) {
    #projects #our-work{
        width: 100%;
        display: grid;
        column-gap: 2%;
        grid-template-columns: 1fr;
    }
}